.color1 {
  color: #ace8dc;
}
.color2 {
  color: #b5eecd;
}
.color3 {
  color: #b7dbf3;
}
.color4 {
  color: #ddc5e7;
}
.color5 {
  color: #b8bfc7;
}
.color6 {
  color: #aee8da;
}
.color7 {
  color: #b9eccd;
}
.color8 {
  color: #ddc5e9;
}
.color9 {
  color: #acded5;
}
.color10 {
  color: #b3e4c7;
}
.color11 {
  color: #b4d3e8;
}
.color12 {
  color: #d9bde3;
}
.color13 {
  color: #b5bcc2;
}
.color14 {
  color: #faeeb2;
}
.color15 {
  color: #f1d2b5;
}
.color16 {
  color: #efc2bd;
}
.color17 {
  color: #fefefe;
}
.color18 {
  color: #dde2e6;
}
.color19 {
  color: #faeba6;
}
.color20 {
  color: #f6d2ae;
}
.color21 {
  color: #f8c1ba;
}
.color22 {
  color: #f9fbfa;
}
.color23 {
  color: #dbe1e1;
}
.color24 {
  color: #fcdca9;
}
.color25 {
  color: #f0c3a2;
}
.color26 {
  color: #ebbab5;
}
.color27 {
  color: #e9eaec;
}
.color28 {
  color: #d2d8d8;
}
